/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), Arial, sans-serif;
  font-size: 18px;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-wght, 410);
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  font-family: var(--accent-font), 'Impact', monospace;
  text-transform: uppercase;
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
}

.rubber-block {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  inline-size: var(--rubber-width);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__main-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

/* Основной контент */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  margin: 100px 0;
  line-height: 1.14em;
}

.card__title {
  margin: 4px 10px;
  font-variation-settings: 'wght' var(--card-title-wght);
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.card__image {
  inline-size: 100%;
}

/* Картинки карточек */
.white-eyes {
  filter: blur(1px);
}

.confidence {
  filter: grayscale(60%) invert(100%);
}

.wind-power-plant {
  filter: hue-rotate(180deg);
}

.the-thinker {
  filter: brightness(49%);
}

.relieved-face {
  filter: contrast(150%);
}

.determination {
  filter: saturate(70%);
}

.focused {
  filter: invert(100%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font), Impact, monospace;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    1px 0 0 var(--text-stroke-color),
    0 1px 0 var(--text-stroke-color),
    -1px 0 0 var(--text-stroke-color),
    0 -1px 0 var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--text-stroke-color);
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

/* Кнопки карточки */
.card__buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: end;
}

/* Кнопка иконка */
.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  inline-size: 39px;
  transform-origin: center;
}

/* Трансофрмации для иконки */
.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s;
}

/* Кнопка с текстом */
.button-with-text {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), Impact, monospace;
  font-size: 14px;
  line-height: 0.9em;
  background-color: var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button-with-text:focus {
  outline: none;
}

.button-with-text:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button-with-text::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button-with-text:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-color);
  mix-blend-mode: difference;
}

/* Кнопка "Like" карточки */
.card__like-button {
  inline-size: 130px;
  block-size: 40px;
}

/* Кнопка "Сохранить на память" */
.button-to-save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
}

.button-to-save__icon {
  inline-size: 21px;
  fill: var(--main-color);
  mix-blend-mode: difference;
}

/* Диалог */
.dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 30px 20px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  font-family: var(--accent-font), Impact, monospace;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

.dialog__icon {
  inline-size: 39px;
  fill: var(--accent-color);
}

.dialog__button {
  grid-column: 1 / -1;
  text-transform: uppercase;
  block-size: 38px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .dialog[open] {
    padding: 30px 40px;
  }

  .button-to-save {
    flex-direction: column;
  }

  .button-to-save__icon {
    inline-size: 28px;
  }
}
