/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-font-wght, 410);
  font-size: 18px;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
}

.page:has(.dialog[open]) {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font, PressStart2P), 'Courier New', monospace; /* Надо подумать над запасным шрифтом */
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  border: 2px solid #000;
  text-transform: uppercase;
  gap: 10px;
  margin-top: 100px;
}

.rubber-block {
  inline-size: var(--rubber-width);
  border: 2px solid #000;
  background-color: #fff;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__main-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  margin: 100px 0;
  line-height: 1.14em;
}

.card__title {
  font-variation-settings: 'wght' var(--card-title-wght);
  margin: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
}

.white-eyes {
  filter: blur(1px);
}

.confidence {
  filter: grayscale(60%) invert(100%);
}

.wind-power-plant {
  filter: hue-rotate(180deg);
}

.the-thinker {
  filter: brightness(49%);
}

.relieved-face {
  filter:  contrast(150%);
}

.determination {
  filter: saturate(70%);
}

.focused {
  filter:invert(100%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, PressStart2P);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow:
    1px 0 0 var(--text-stroke-color),
    0 1px 0 var(--text-stroke-color),
    -1px 0 0 var(--text-stroke-color),
    0 -1px 0 var(--text-stroke-color);
}

@supports((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .card__label {
    text-stroke: 1px var(--text-stroke-color);
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__buttons {
  display: flex;
  align-self: end;
  gap: 6px;
}

.button {
  border: 2px solid #000;
  background-color: #fff;
  font-family: var(--accent-font, PressStart2P);
  font-size: 14px;
  line-height: 0.9em;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.like-icon {
  width: 39px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button-to-save {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 20px;
}

.button-to-save__icon {
  width: 21px;
}

.dialog[open] {
  display: grid;
  position: fixed;
  inset: 0;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 30px 20px;
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid #000;
  padding: 30px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__icon {
  width: 39px;
}

.dialog__button {
  text-transform: uppercase;
  grid-column: 1 / -1;
  block-size: 38px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .dialog[open] {
    padding: 30px 40px;
  }

  .button-to-save {
    flex-direction: column;
  }

  .button-to-save__icon {
    width: 28px;
  }
}
